body
{
    background: #e6e6e6;
    color: #33160f;
    font-family: "Nunito", sans-serif;
    margin: 0 auto;
    padding: .5em;
    max-width: 60em;
}

h1, h2, h3, h4, h5, h6
{
    color: #b22222;
}


/* Header elements */

h1
{
    margin: 0;
}

#subtitle
{
    color: #b22222; /* same as headers */
    font-variant: small-caps;
    font-weight: bold;
    margin: 0;
}

#tagline
{
    margin: 0;
}

header > nav
{
    background-color: #33160f;
    border-radius: 1em;
    display: flex;
    margin: 0 -.5em;
}

ul#navbar
{
    list-style-type: none;
    margin: auto;
    padding: 0;
}

ul#navbar li
{
    display: inline;
}


ul#navbar a
{
    border: 1px solid #33160f;
    border-bottom: 0;
    color: #f1c609;
    display: inline-block;
    padding: .25em 1em;
    text-decoration: none;
}

ul#navbar a:hover
{
    background: #f1c609;
    color: #33160f;
}


#navbar a.active,
#navbar a.active:hover
{
    background: #e6e6e6;
    color: #33160f;
}


/** main elements */

a
{
    color: #084c61;
    text-decoration-line: none;
}

a:hover
{
    color: #ff7a00;
}


main
{
    display: flex;
}

main > article
{
    margin: 0 auto;
    max-width: 40em;
    order: 1;
}


main > nav + article
{
    margin-right: 0;
}


main > nav
{
    align-self: flex-start;
    margin-right: auto;
    width: 20em;
    order: 2;
    position: sticky;
    top: 0;
}


#doc-toc ol
{
    padding-left: 2em;
}


#doc-toc li
{
    list-style-type: none;
}


#doc-toc li:not(.collapsible)::before
{
    content: "\2022";
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
    text-align: center;
}


#doc-toc input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    background: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}


#doc-toc input[type="checkbox"]:hover
{
    color: #ff7a00;
}


#doc-toc input[type="checkbox"]::before
{
    content: '+';
    display: inline-block;
    font-weight: bold;
    width: 1.5em;
    margin-left: -1.5em;
    text-align: center;
}


#doc-toc input[type="checkbox"]:checked::before
{
    content: '-';
}


#doc-toc input[type="checkbox"]:not(:checked) ~ ol
{
    display: none;
}



div.highlight > pre
{
    color: #000000;
    border: 1px solid #000000;
    padding: .25em;
    margin-left: .5em;
    margin-right: .5em;
}


div.highlight > pre > code
{
    color: inherit;
}


code
{
    color: #7c238c;
    font-family: "IBM Plex Mono", monospace;
    font-size: 85%;
}



/* Footer elements */

footer
{
    border-top: 1px solid #33160f;
    font-size: smaller;
    padding: .5em;
}
