<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Dr. Strangetest, a PHP testing framework</title>
    </head>
    <body>
        <header>
            <h1>Dr. Strangetest</h1>
            <p id="subtitle">Or: How I Learned To Stop Worrying And Test The Code</p>
            <p id="tagline">A testing framework for PHP</p>
            <nav>
                <ul id="navbar">{{ navbar }}</ul>
            </nav>
        </header>

        <main>
            <article>{{ article }}</article>
        </main>

        <footer>
            <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a><br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
            <p>Please open an issue if you find an error in these pages. Fixes are also welcome!</p>
        </footer>
    </body>
</html>
